<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="../static/css/chat.css">
</head>
<body class="dark-theme">
    <div id="chatBar" class="chat-bar">
        <div id="messages"></div>
        <form id="messageForm">
            <input type="text" id="username" placeholder="Username">
            <input type="text" id="message" placeholder="Message">
            <button type="submit">Send</button>
        </form>
    </div>
    <script src="../static/js/chat.js"></script>
</body>
</html>